@import 'variables.scss';

$container-width: 1200px;
$article-width: 940px;
$gutter: 90px;

article {
  margin: 0 auto;
  max-width: $article-width;

  padding-top: 0;
  width: 100%;

  h1,h2,h3,h4,h5,h6 {
    clear: both;
  }

  @media screen and (max-width: 1024px) {
    max-width: 90%;
  }

  @media screen and (max-width: 768px) {
    max-width: 95%;
  }
}

.article__sharing {
  li {
    display: inline;
    list-style: none;
  }

  i, a:link, a:visited {
    cursor: pointer;
    color: $white;
  }

  i {
    background: $black;
    display: inline-block;
    border-radius: 3em;
    padding: 0.6em 0.5em 0.4em;
    width: 1em;
    height: 1em;
    text-align: center;
  }
}

.article__leader {
  font-size: 1.4em;
}

.article__figure {
  figcaption {
    font-size: 0.7em;
  }
}

.article__figure--inline {
  width: ($container-width / 2) - 3 * $gutter;
  max-width: 100%;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.article__figure--inline-right {
  float: right;
  margin: 0 0 2em 1em;
}

.article__figure--inline-left {
  float: left;
  margin: 0 1em 2em 0;
}

.article__figure--jumbo {
  width: 100vw;
  position:relative;
  margin-left: -1 * $gutter;
  max-width: $container-width;

  @media screen and (max-width: $container-width) {
    margin-left: -5%;
  }
}

.article-header {
  background-color: $black;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: calc(-50vw + #{$article-width / 2});
  position:relative;
  overflow:hidden;

  color: $white;
  text-align: center;
}

.article-header--mini {
  height: 300px;
}

.article-header__image {
  background: $black center center no-repeat;
  background-size: cover;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 0;

  a {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    left: 20px;
    top: 100px;
  }
}

.article-header__summary {
  max-width: 768px;
  margin: 0 auto 3em;
  width: 100%;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);

  h1 {
    font-size: 4em;
    line-height: 0.9em;
    margin: 0 0 0.2em 0;

    a:link, a:visited {
      color: $white;
    }
  }

  p {
    font-style:italic;
    font-size: 1.6em;
    margin: 0;
  }
}
