@import 'variables.scss';

$container-width: 1200px;
$article-width: 940px;
$gutter: 90px;
$anti-gutter: -120px;
$inline-figure-width: 420px;

article {
  margin: 0 auto;
  max-width: $article-width;
  padding-top: 0;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    clear: both;
  }

  @media screen and (max-width: 1024px) {
    max-width: 90%;
  }

  @media screen and (max-width: 768px) {
    max-width: 95%;
  }
}

.article__sharing {
  li {
    display: inline;
    list-style: none;
  }

  i,
  a:link,
  a:visited {
    cursor: pointer;
    color: $white;
    border: none;
  }

  i {
    background: $black;
    display: inline-block;
    border-radius: 3em;
    padding: 0.6em 0.5em 0.4em;
    width: 1em;
    height: 1em;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.article__leader {
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.5;
  position: relative;

  @media screen and (min-width: $container-width) {
    margin-left: calc($anti-gutter/2);
    margin-right: calc($anti-gutter/2);
  }

  @media screen and (max-width: $container-width) {
    max-width: 95%;
  }
}

.article__figure {
  figcaption {
    font-size: 0.7em;
  }
}

.article__figure--inline {
  width: $inline-figure-width;

  img,
  table {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.article__figure--inline cite {
  position: static;
}

.article__figure--inline-right {
  float: right;
  margin: 0 calc($anti-gutter / 2)  1em 1em;

  @media screen and (max-width: $container-width) {
    margin-right: 0;
  }
}

.article__figure--inline-left {
  float: left;
  margin: 0 1em 1em calc($anti-gutter / 2);

  @media screen and (max-width: $container-width) {
    margin-left: 0;
  }
}

.article__figure--jumbo {
  width: 100vw;
  position: relative;
  margin-left: $anti-gutter;
  max-width: calc($article-width - $anti-gutter - $anti-gutter);

  @media screen and (max-width: $container-width) {
    margin-left: -5%;
    margin-right: -5%;
    max-width: 100vw;
  }
}

.article__blockquote--jumbo {
  border: 0;
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.6em;
  margin: 2em 0;
  padding: 0;
  width: 100vw;
  position: relative;
  margin-left: $anti-gutter;
  margin-right: $anti-gutter;
  max-width: calc($article-width - $anti-gutter - $anti-gutter);
  text-align: center;

  @media screen and (max-width: $container-width) {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

.article-header {
  background-color: $black;
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: calc(-50vw + 470px);
  position: relative;
  overflow: hidden;
  color: $white;
  text-align: center;

  @media screen and (max-width: 1024px) {
    max-height: 50vh;
    margin-left: -5.5%;
  }

  @media screen and (max-width: 768px) {
    margin-left: -2.6%;
  }
}

.article-header--mini {
  height: 300px;
}

.article-header__image {
  background: $black center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  a {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    left: 20px;
    top: 100px;
  }
}

.article-header__summary {
  max-width: 768px;
  margin: 0 auto 3em;
  width: 100%;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75),
    0px 0px 30px black,
    0px 0px 50px black,
    0px 0px 50px black,
    0px 0px 50px black;

  h1 {
    font-size: 4em;
    line-height: 0.9em;
    margin: 0 0 0.2em;

    a:link,
    a:visited {
      color: $white;
    }
  }

  p {
    font-style: italic;
    font-size: 1.6em;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    padding: 1em 20px;
    margin-bottom: 0;
    max-width: calc(100vw - 40px);
  }
}
