@import 'variables.scss';

.dark {
  background-color: $black;
  color: $white;

  a {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px dotted #fff;
    }

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid #fff;
    }
  }

  code,
  pre {
    color: $green-light;
  }

  td, th {
    border-color: $white;
  }
}
