$font-family: 'Source Serif Pro', Georgia, serif;
$alt-font-family: 'Lato', Arial, sans-serif;
$mono-font-family: monospace;

$white: #fff;
$black: #231f20;
$blue: #1982d1;
$green: #048b51;
$yellow: #ffc30f;

$green-light: #64d8a6;

$link-color: $black;
$active-link-color: $blue;
